body, html{
    margin: 0;
    padding: 0;
}

#form{
    margin: 20px 50px 20px 50px;
    box-shadow: 1px 5px 10px grey;
}

#dropzoneImg{
    border: 2px dashed #0087F7;
    border-radius: 5px;
    margin: 0 auto;
    width: 200px;
    background: white;
}